
<%= form_for Topic.new , :url => topics_update_path do |f| %>
<%= f.text_field :title %>
<%= f.text_field :description %>
<%= f.file_field :image %>
<%= f.submit "送信する" %>
<% end %>


<hr>

<ul>
  <% @topics.each do |f| %>
  <li><%=link_to f.id , topic_path(f.id)  %></li>
  <li><%=f.title %></li>
  <li><%=f.description %></li>
  <li><%=image_tag "/topics/#{f.id}/image_thumbnail?width=100&height=50" %></li>
  <hr>
  <% end %>
</ul>

