
<%= form_for Topic.new , :url => topics_update_path do |f| %>
<%= f.text_field :title %>
<%= f.text_field :description %>
<%= f.file_field :image %>
<% end %>


<hr>

<ul>
  <% @topics.each do |f| %>
  <li><%=f.id %></li>
  <li><%=f.title %></li>
  <li><%=f.description %></li>
  <li><%=image_tag topic_image_path(f.id) %></li>
  <% end %>
</ul>

